{% extends 'base.html' %}

{% block head %}
<title>Muusika Kirjeldus</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Muusika Kirjeldus</h1>

    <form action=/ method="POST"
          enctype=multipart/form-data>
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>

    <label for="description">Kirjeldus</label>

    <textarea readonly id="description" name="description" rows="4" cols="50">
      {{ description }}
    </textarea>


</div>
{% endblock %}